<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BudgetTrackerMapper">
    <select id="search" resultType="com.example.demo.entity.BudgetTracker">
        SELECT * FROM budget_table WHERE id = #{id}
    </select>
    <select id="insert" resultType="com.example.demo.entity.BudgetTracker">
    	insert into budget_table (id, Date, StoreName, ProductName, ProductType, Price) values (#{id}, #{date}, #{storeName}, #{productName}, #{productType}, #{price});
    </select>
</mapper>